// Define variables for your color scheme

// For example:
$red: #bd1e1eff;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #dc851fff;
$green: #1EDD88;
$gray: #393d3fff;
$light-gray: #F4F4F4;
$black: #191716ff;


$blood1: #EE3E17;
$blood2: #4A1302;


