<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://picsum.photos/1200/800);">
  <div class="container">
    <h1>AirBnBeast</h1>
    <p>Let us help you !!! </p>
    <div class="container">
      <div id="sign-buttons">
        <%= link_to "SignIn", new_user_session_path, class: "btn btn-primary"%>
        <%= link_to "SignUp", new_user_registration_path, class: "btn btn-primary"%>
      </div>
    </div>
  </div>
</div>
