<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/5591499/pexels-photo-5591499.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <div class="container">
    <h1>AirBnBeast</h1>
    <p><span id="banner-typed-text"></span></p>
    <div class="container">
      <% unless user_signed_in? %>
        <div id="sign-buttons">
          <%= link_to "SignIn", new_user_session_path, class: "btn btn-primary"%>
          <%= link_to "SignUp", new_user_registration_path, class: "btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
