<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1557148353-009729a39979?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');">
  <div class="container">
    <h1>AirBnBeast</h1>
    <p>Le confinement vous pèse ? </p>
    <p>Vous en avez marre de quelqu'un ? </p>
    <p></p>
    <p>AirBnBeast est là pour vous... </p>
    <div class="container">
      <% unless user_signed_in? %>
        <div id="sign-buttons">
          <%= link_to "SignIn", new_user_session_path, class: "btn btn-primary"%>
          <%= link_to "SignUp", new_user_registration_path, class: "btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
