<div class="container pad-bot">
  <div class="row justify-content-center" style="margin: 20px">
    <div class="col-md-8">
      <h2 style="color: white">Edit your offer</h2>

      <%= render 'form', offer: @offer %>

      <hr>
      <%= link_to mine_offers_path do %>
        <p><i class="fa fa-history"></i> Back to my offers</p>
      <% end %>
    </div>
  </div>
</div>
