<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Add an offer</h1>

      <%= render 'form', offer: @offer %>

      <hr>
      <%= link_to mine_offers_path do %>
        <i class="fa fa-history"></i> Back to my offers
      <% end %>
    </div>
  </div>
</div>
