.offer_profil {
  display: flex;
  align-items: center;
  margin: 30px 0 30px 0;
}

.offer_profil .profil-content {
  flex-grow: 1;
  padding: 0 24px;
  p {
    margin-bottom: 0px;
    font-size: 18px;
    color: $light-gray;
  }
  h2 {
    margin-bottom: 0px;
    font-size: 24px;
    color: $red;
  }
}

.card-offer-show {
  overflow: hidden;
  height: 240px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: flex-start;
  position: relative;
}


.card-offer-show h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-offer-show p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  max-width: 70%;
}

.card-offer-show img {
  height: 100%;
  min-width: 240px;
  object-fit: cover;
}

.card-offer-show .card-offer-show-infos {
  padding: 16px;
  height: 100%;
  flex-grow: 1;
  position: relative;
  .target{
    position: absolute;
    bottom: 0;
  }
  p{
    font-size: 16px;
  }
}


.card-offer-show .zone-book {
  background-color: white;
  padding: 16px;
  position: absolute;
  right: 0;
  bottom: 1;
  text-align: center;
  .btn-book {
    width: 207.73px;
  }
}

.card-offer-show .avatar{
  width: 100px;
  height: 100px;
}
