.card-new {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin: 20px;
}

.card-plus {
  height: 150px;
  width: 150px;
  border-right: black 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
