.card-product {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin: 20px;
  position: relative;

}

.card-product img {
  height: 100%;
  width: 150px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
  margin: 0;
}

.card-product h3 {
  margin: 0;
  font-size: 18px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.card-product h4 {
  color: red;
  font-size: 18px;
  font-family: 'Lora', serif;

}

.card-product .target {
  margin-top: 20px;
}

.card-product a {
  margin: 10px;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0px;
}

.card-product .card-product-infos {
  padding: 20px;
  padding-left: 40px;
  flex-grow: 1;
}

.card-product .avatar{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: 120px;
  opacity: 1;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.card-product i {
  color: grey;
}

