.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background: white;
}

.navbar img{
  width: 40px;
  height: 40px;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

$oswald: 'Oswald', sans-serif;
$teko: 'Teko', sans-serif;

#nav-title {
  margin-top: 0.7rem;
  font-family: $teko;
}

.fa-user-circle {
  color: grey;
  margin: 0 5px 0 5px;
  text-align: center;
}
